/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body{
    box-sizing: border-box;
    font-family:"Roboto",'Times New Roman', serif;
    line-height: 1.2;
    background-color:  #fce5cd;
}



.wrapper{
  font-size: 1.5rem;
  color: rgba(182, 12, 12, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
  /* background-color:#f7d7b5; */
 
 
 
}
div{
  margin: 0.3rem;
}
.aside{
  background-color:#f7d7b5;
  height: 100vh;
  padding: 1rem;
}

.title,text{
  font-size: 4rem;
  color:blue;
  font-weight: bold;
  position: fixed;
  top:45%;
  left:30%
}
.text{
  color:#e69138;
  font-size: 1.5rem;
  font-weight: 400;
  position: fixed;
  top:58%;
  left:30%
}

.authors{
  position: fixed;
  bottom: 1rem;
  left:30%;
  opacity: 0.8;
  color:rgb(68, 58, 58);
  }
  .authors a{
      text-decoration: underline;
      color:blue;
  }
.pulse:hover ~.title{
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease;
}


@keyframes pulse{
  0%{
      
      transform: scale(1);
  }
  50%{
      transform: scale(1.5);
  }
  100%{
      transform: scale(1);
  }
}

.swing:hover ~.title {
  /* color: blue;
  background-color: rgb(20, 105, 232); */
  animation: animate__swing 1s alternate 1s 2 ease-in-out;
}
@keyframes animate__swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.heartBeat:hover ~.title{
  animation: heartBeat 2s alternate 1s 2 ease-in-out;
}

@keyframes heartBeat {
  50% {
    transform: scale(2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
.backInDown:hover ~.title{
  animation: backInDown 2s alternate 1s 1 ease-in-out;
}
@keyframes backInDown {
  0% {
    transform: scale(0.8) translateY(-150vh);
    opacity: 3;
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: translateY(0vh) scale(1);
  }
}

.backOutRight:hover ~.title{
  animation: backOutRight 2s alternate 1s 1 ease-in-out;
}
@keyframes backOutRight {
  10% {
    transform: scale(0.8) translateX(0vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

.bounceInLeft:hover ~.title{
  animation: bounceInLeft 2s alternate 1s 1 ease-in-out;
}
@keyframes bounceInLeft {
  0% {
    transform: translateX(-150vw);
  }
  80% {
    transform: translateX(3vw);
  }
  90% {
    transform: translateX(-2vw);
  }
}

.fadeInDown:hover ~.title{
  animation: fadeInDown 2s alternate 1s 1 ease-in;
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-40vh) scale(0.9);
    opacity: 2;
  }
  100% {
    transform: translateY(0vh);
  }
}

.fadeInBottomLeft:hover ~.title{
  animation: fadeInBottomLeft 2s alternate 1s 1 ease-in;
}
@keyframes fadeInBottomLeft {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-100vw) translateY(55vw);
    opacity: -4;
  }
}
.flip:hover ~.title{
  
  animation: flip 2s alternate 1s 1 ease-in-out;
}
@keyframes flip {
  0% {
    transform: rotateY(-5deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  80% {
    transform: rotateY(-180deg) scale(1.5);
  }
  100% {
    transform: rotateY(0deg) scale(1.5);
  }
}

.lightSpeedOutLeft:hover ~.title{
  color: rgb(43, 4, 105);
  font-weight: 900;
  animation: lightSpeedOutLeft 2s alternate 1s 1 ease-in-out;
}
@keyframes lightSpeedOutLeft {
  0% {
    transform: translateX(-0vw);
  }

  100% {
    transform: translateX(-100vw);
    opacity: -3;

  }
}

.rotateInUpRight:hover ~.title{
 
  transform-origin: bottom right;
  animation: rotateInUpRight 2s alternate 1 ease-in-out;
}
@keyframes rotateInUpRight {
  
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50%{
    transform: rotate(0deg);
    opacity: 0.6;
  }
  100% {
    transform: rotate(-50deg);
    opacity: -4;
  }

}
.hinge:hover ~.title{
  animation: hinge 0.5s ease-in-out;
  animation-duration: 2s;
  transform-origin: top left;

}

@keyframes hinge {
  20%,
  60% {
    transform: rotate(70deg);
  }
  40%,
  80% {
    transform: rotate(55deg);
    opacity: 1;
  }
  100% {
    transform: translateY(600px);
  }
}
.zoomOutDown:hover ~.title{
  animation: zoomOutDown 1.5s ease-in-out;
  transform-origin: center bottom;
  
}
@keyframes zoomOutDown {
  20% {
    transform: scale(0.9);
    opacity: 2;
  }
  50%{
    transform: scale(1.9);
    opacity: 2;
  }
  100% {
    transform: scale(0.9) translateY(50vh);
  }
}